.menu{
    display: flex;
    height: 50px;
    background-color: orange;
}
.menu li{
    list-style-type: none;
    margin-left: 30px;
    background-color: bisque;
}
.menu li a.active{
    background-color: green;
}